backend:
  name: git-gateway
  branch: main

media_folder: "uploads"
public_folder: "/uploads"

collections:
  - name: "blogdata"
    label: "Blog Posts"
    files:
      - file: "blog.json"
        label: "All Posts"
        name: "allposts"
        fields:
          - label: "Posts"
            name: "posts"
            widget: "list"
            summary: "{{fields.title}}"
            fields:
              - { label: "Title", name: "title", widget: "string" }
              - { label: "Date", name: "date", widget: "datetime", format: "YYYY-MM-DD" }
              - { label: "Featured Image", name: "image", widget: "image", required: false }
              - { label: "Excerpt", name: "excerpt", widget: "text", required: false }
              - { label: "Body", name: "body", widget: "markdown" }
